<div class="container">
    <h1>Comentários</h1>
</div>
<div class="form-todo form-group">
    <p>
        <input placeholder="Nome" type="text" name="author" class="form-control" v-model="name"></input>
    </p>
    <p>
        <textarea placeholder="Comentário" name="message" class="form-control" v-model="message"></textarea>
    </p>
    <button @click="addComment" type="submit" class="btn btn-primary">Comentar</button>
</div>
<div class="list-group">
    <div class="list-group-item" v-for="commit in comments">
        <spam class="comment_author">Autor: <strong>{{commit.name}}</strong></spam>
        <p>{{commit.message}}</p>
    </div>
    <div>
        <a href="#" title="Excluir">Excluir</a>
    </div>
</div>


data() {
    return {
      comments: [
        {
          name: "Moisés",
          message:
            "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, sit eaque inventore molestiae dolore sequi eveniet error in voluptatem rem vel aspernatur quia magni tempore animi autem sunt consequatur suscipit.",
        },
      ],
      name: "",
      message: "",
    };
  },
  methods: {
    addComment() {
      console.log("Chamado");
      console.log(this.name);
      console.log(this.message);
    },
  }
});